.car-list {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
}

.car-card {
  border: 1px solid #5c1313;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(31, 48, 102, 0.1);
  transition: transform 0.2s;
}

.car-card:hover {
  transform: scale(1.05);
}

.car-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.car-details {
  padding: 15px;
}

.car-details h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

h2:hover {
  color: blue;
  text-decoration: underline;
  cursor: default;
}

.car-details p {
  margin: 5px 0;
  font-size: 1em;
}
